@model IEnumerable<B2C2_Pi4_PFFF_Gaetano.Models.CameraReport>

@{
    ViewData["Title"] = "Gerapporteerde camera's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gerapporteerde camera's</h1>

<p>
    <a asp-action="Create">Camera Rapporteren</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Camera.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Camera.ModelNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Camera.SerialNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bijwerken</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
